/*google font railway*/

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}

body {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #272727;
    background-color: #fffcf9;
}

::-webkit-scrollbar {
    display: none;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
}

header {
    margin: 1.5em;
    position: absolute;
    left: 0;
    right: 0;
    clear: both;
    overflow: auto;
}

.hamburger-wrap {
    position: fixed;
    right: 60px;
    top: 35px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 100;
}

.hamburger-content ul {
    list-style: none;
    position: fixed;
    padding: 0;
    right: 64px;
    top: 60px;
    z-index: 100;
    max-height: 0px;
    overflow: hidden;
    transition: all .6s;
}

.hamburger-content.open ul {
    max-height: 300px;
}

.hamburger-content li {
    text-align: right;
    margin-top: 1em;
}

.hamburger-content a {
    text-decoration: none;
    font-weight: 600;
    color: #eadfca;
}

.scrolled-menu a {
    color: #444444;
}

.menu_line {
    position: absolute;
    left: 10px;
    width: 25px;
    height: 2px;
    background-color: #eadfca;
    transition: all 0.6s;
}

.menu_line1 {
    top: 10px;
}

.menu_line2 {
    top: 18px;
}

.menu_line3 {
    top: 26px;
}

.clicked .menu_line1 {
    transform: rotate(-45deg);
    top: 20px;
}

.clicked .menu_line2 {
    opacity: 0;
}

.clicked .menu_line3 {
    transform: rotate(45deg);
    top: 20px;
}

.scrolled {
    background-color: #444444;
}

.name {
    font-size: 4em;
    color: #eadfca;
    font-weight: 900;
    margin: 0;
}

.mainNav {
    max-width: 1000px;
    margin: auto;
    margin-top: 1.2em;
}

.mainNav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.mainNav li {
    flex: 1;
    white-space: nowrap;
    padding: 0 1%;
    display: inline-block;
    margin: 1em;
    max-width: 1000px;
}

.mainNav a {
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em;
    color: #fffcf9;
}

.intro {
    background-color: #7f916fe5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10em 0;
    color: #eadfca;
    height: 786px;
    height: 100vh;
}

.content-intro {
    margin-top: 5em;
    overflow: auto;
    overflow-wrap: normal;
    height: 100vh;
}

.short-description {
    margin-top: 1.5em;
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.content-intro .short-comment {
    font-size: 1.2em;
    margin: 0 auto;
}

.button-intro {
    text-decoration: none;
    padding: 0.5em 2em;
    margin-top: 2em;
    background: #fffcf9;
    color: #000000;
    font-weight: 500;
    border: 2px solid #eadfca;
    text-transform: uppercase;
    transition: all 0.2s linear;
    display: inline-block;
}

.button-intro:hover {
    background: #eadfca;
    font-weight: 700;
    color: #444444;
    border: 2px solid #eadfca;
}

.content-wrap {
    max-width: 1000px;
    margin: 0 auto;
}

.content-wrap .border-line {
    margin: 1em auto;
    height: 1px;
    max-width: 320px;
    background-color: #272727;
}

.content-wrap span {
    font-family: 'Work Sans', sans-serif;
}

.content-wrap h2 {
    margin: 0.67em 0 0 0;
}

.about-me {
    display: grid;
    padding: 2.5em 0;
    height: 100vh;
    overflow: hidden;
    align-items: stretch;
}

.about-me h3 {
    margin-top: 1.5em;
    color: #7f916f;
}

.a-description {
    display: flex;
}

.col-narrow {
    margin-top: 2em;
}

.col-wide {
    text-align: left;
    overflow: hidden;
    margin-top: 2em;
    padding: 0em 2em;
}

.skills {
    display: grid;
    padding: 2.5em 0;
    height: 100vh;
    overflow: hidden;
    align-items: stretch;
}

.skills-container {
    margin-top: 1.5em;
    margin-bottom: 2em;
}

#language {
    margin-top: 3em;
    margin-bottom: 2em;
}

.icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
}

.icon-container p {
    font-size: 0.8em;
    margin: 0;
}

.coding-icon {
    width: 80px;
    height: 80px;
    margin: 15px 30px;
}

.devicon-icons path {
    fill: #7f916f;
}

.language-icon {
    width: 90px;
    height: 90px;
    margin: 15px 30px;
}

.portfolio {
    display: grid;
    padding: 2.5em 0;
    height: 100vh;
    overflow: hidden;
    align-items: stretch;
}

.project-wrapper {
    margin: 2em 1em 0em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-box {
    margin: 0em 0em 2em 0em;
    padding: 0.5em;
    width: 32%;
    background-color: #dadadaab;
}

.project-box a {
    text-decoration: none;
    color: #272727;
}

.project-box img {
    display: block;
    margin-bottom: 2em;
    width: 100%;
    height: auto;
}

.project-box img:hover {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}

.project-box h2 {
    margin-bottom: 1em;
    text-align: center;
}

.project-box span {
    font-family: 'Work Sans', sans-serif;
}

.project-box p {
    margin-bottom: 1.5em;
}

.social-icons {
    margin: 5em 0em;
    list-style: none;
    padding: 0;
}

.social-icons ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.social-icons li {
    text-decoration: none;
    flex: 1;
    padding: 0 1%;
    display: inline-block;
    margin: 1em;
    max-width: 1000px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    color: #eadfca;
    transition: all 0.2s ease-in;
}

.social-icons a:hover {
    color: #eadfca;
}

.footer-container {
    display: grid;
    background: #444444;
    justify-content: center;
    align-items: stretch;
    overflow: auto;
    height: 100vh;
    color: #fffcf9;
    padding: 2em 2em;
}

.footer-comments {
    margin-top: 5em;
}

@media screen and (max-width: 1000px) {
    /* body {
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        color: #272727;
        background-color: #7f916f;
    } */
    .about-me,
    .content-intro,
    .skills,
    .portfolio {
        height: auto;
    }
    .header {
        overflow: unset;
    }
    .name {
        margin-top: 1.2em;
    }
    .mainNav {
        display: none;
    }
    .short-description {
        font-size: 2em;
    }
    .a-description {
        flex-direction: column;
        align-items: center;
    }
    .col-narrow {
        margin-top: 2em;
    }
    .coding-icon {
        width: 60px;
        height: 60px;
        margin: 15px 30px;
    }
    .language-icon {
        width: 60px;
        height: 60px;
        margin: 15px 30px;
    }
    .social-icons a {
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 1em;
        line-height: 40px;
        color: #eadfca;
        transition: all 0.2s ease-in;
    }
    .project-box {
        width: 49%;
    }
}

@media screen and (max-width: 480px) {
    .header {
        overflow: unset;
    }
    .name {
        font-size: 3em;
        margin-top: 2em;
    }
    .mainNav {
        display: none;
    }
    .short-description {
        font-size: 1.6em;
    }
    .coding-icon {
        width: 50px;
        height: 50px;
        margin: 15px 20px;
    }
    .language-icon {
        width: 50px;
        height: 50px;
        margin: 15px 20px;
    }
    .social-icons a {
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 1em;
        line-height: 40px;
        color: #eadfca;
        transition: all 0.2s ease-in;
    }
    .project-wrapper {
        flex-direction: column;
    }
    .project-box {
        width: 100%;
    }
}